<div class='card deck' id='tileDeck'><button type="button" class="btn btn-primary btn-lg shuffleButton" style="width: 110px;">Shuffle</button></div>

<% for (var j = 0; j < 2; j++) { -%>
  <% for (var i = 1; i <= 13; i++) { -%>
    <div class='card tile' id="blue_<%= j %>_<%= i%>"><span id="blue_<%= j %>_<%= i%>_text"></span></div>
  <% } -%>
<% } -%>

<% for (var j = 0; j < 2; j++) { -%>
  <% for (var i = 1; i <= 13; i++) { -%>
    <div class='card tile' id="orange_<%= j %>_<%= i%>"><span id="orange_<%= j %>_<%= i%>_text"></span></div>
  <% } -%>
<% } -%>

<% for (var j = 0; j < 2; j++) { -%>
  <% for (var i = 1; i <= 13; i++) { -%>
    <div class='card tile' id="red_<%= j %>_<%= i%>"><span id="red_<%= j %>_<%= i%>_text"></span></div>
  <% } -%>
<% } -%>

<% for (var j = 0; j < 2; j++) { -%>
  <% for (var i = 1; i <= 13; i++) { -%>
    <div class='card tile' id="black_<%= j %>_<%= i%>"><span id="black_<%= j %>_<%= i%>_text"></span></div>
  <% } -%>
<% } -%>

<% for (var i = 0; i < 2; i++) { -%>
  <div class='card tile' id="j_<%= i%>"><span id="j_<%= j %>_<%= i%>_text"></span></div>
<% } -%>

<div class='openbox' id='openbox0'></div>
<div class='openbox' id='openbox1'></div>
<div class='openbox' id='openbox2'></div>
<div class='openbox' id='openbox3'></div>