<% for (var i =0; i < 4;  i++ ) { %>
  <div class='webcam' id='webcam<%= i %>' style="position: absolute; z-index:2; top: <%= webcamPos[i].top %>px; left:  <%= webcamPos[i].left %>px;"></div> 
<% } %>

<% for (var i = 4; i <20;  i++ ) { %>
  <div class="webcambox" id='webcambox<%= i %>'>
    <div class='webcamContainer'>
      <div id="webcam<%= i %>"></div>
    </div>
  </div>
  <div class="card moveBtn" id="webcamMoveBtn<%= i %>"><img src="/img/lobby/move.png"/></div>
<% } %>