<html>
  <head>
    <%- include ("../partials/head") %>
  </head>
  <body>
    <%- include ('../../common/welcomeModal'); -%>
    <%- include ('../../common/resetModal'); -%>
    <div class="scaleplane">
      <%- include ('../partials/playerboxes', {playerboxStartPos: playerboxStartPos}) -%>
      <%- include ('../../common/webcams', {webcamPos: webcamPos, fixedPlayers:fixedPlayers}) -%>
      <%- include ('../partials/decks') %>
      <%- include ('../partials/charactersCard') %>
      <%- include ('../partials/districtCards') %>
      <%- include ('../partials/characterCards') %>
      <%- include ('../partials/goldAndCrown') %>
      <%- include ("../../common/cursors") -%>
    </div>
  </body>
</html>