<html>
  <head>
    <%- include ("../partials/head") %>
  </head>
  <body>
    <%- include ('../../common/welcomeModal'); -%>
    <%- include ('../../common/resetModal'); -%>
    <div class="scaleplane">
      <img class="cardOpenbox" src="/img/dx/openbox.svg"/>
      <img class="playerVault" src="/img/dx/playerbox.svg"/>
      <div class="scoring">
        If all players find the storyteller's card
        <ul>
          <li>Storyteller: 0 points</li>
          <li>Other players: 2 points</li>
        </ul>
        <br>
        If no players find the storyteller's card
        <ul>
          <li>Storyteller: 0 points</li>
          <li>Other players: 2 points (+1 bonus point per vote for his/her card)</li>
        </ul>
        <br>
        If at least 1 player, but not all players have found the storyteller's card
        <ul>
          <li>Storyteller: 3 points</li>
          <li>Players who found the card: 3 points (+1 bonus point per vote for his/her card)</li>
          <li>Other players: 0 points (+1 bonus point per vote for his/her card)</li>
        </ul>
      </div>
      <%- include ('../partials/playerboxes', {playerboxStartPos: playerboxStartPos}); -%>
      <%- include ('../../common/webcams', {webcamPos: webcamPos, fixedPlayers:fixedPlayers}); -%>
      <%- include ('../partials/decks') %>
      <%  var scoreboxValues = [1];
          for (var i = 0; i < fixedPlayers; i++) { 
            var id = i; -%>
            <%- include('../../common/scorebox', {scoreboxId: id, scoreboxValues: scoreboxValues}); %>
      <%  } -%>
      <%- include ('../../common/cursors'); -%>
    </div>
  </body>
</html>