<html>
  <head>
    <%- include ("../partials/head") %>
  </head>
  <body>
    <%- include ('../../common/welcomeModal'); -%>
    <%- include ('../../common/resetModal'); -%>
    <div class="scaleplane">
      <%- include ('../partials/board'); -%>
      <%- include ('../partials/playerboxes', {playerboxStartPos: playerboxStartPos}); -%>
      <%- include ('../../common/webcams', {webcamPos: webcamPos, fixedPlayers:fixedPlayers}); -%>
      <%  var scoreboxValues = [1];
          for (var i = 0; i < fixedPlayers; i++) { 
            var id = i; -%>
            <%- include('../../common/scorebox', {scoreboxId: id, scoreboxValues: scoreboxValues}); %>
      <%  } -%>
      <%- include ('../partials/decks'); -%>
      <%- include ('../../common/cursors'); -%>
    </div>
  </body>
</html>