<% for (var x = 0; x < 6; x++) { -%>
  <div class='touchbox' id="touchbox_1_<%= x%>" style="position: absolute; left: <%= 332 + (x * (544 - 332)) %>px; top: 105px; display: block;"></div>
<% } -%>

<% for (var x = 0; x < 6; x++) { -%>
  <div class='touchbox' id="touchbox_2_<%= x%>" style="position: absolute; left: <%= 324 + (x * (528 - 324)) %>px; top: 728px; display: block; z-index: 100000;"></div>
<% } -%>

<% for (var x = 0; x < 6; x++) { -%>
  <div class='touchbox' id="touchbox_3_<%= x%>" style="position: absolute; left: <%= 404 + (x * (528 - 404)) %>px; top: 662px; display: block; z-index: 100000;"></div>
<% } -%>

<div class='touchbox' id="touchbox_4_0" style="position: absolute; left: 922px; top: 468px; display: block;"></div>