<div class='card deck' id='diceDeck'><button type="button" class="btn btn-primary btn-lg rollButton" style="width: 110px;">Roll</button></div>

<% for (var i = 0; i < 3; i++) { -%>
    <div class='card hex' id='hex_<%= i %>'><img src='/img/soc/hex_brick.png'></div>
<% } -%>
<% for (var i = 3; i < 4; i++) { -%>
    <div class='card hex' id='hex_<%= i %>'><img src='/img/soc/hex_desert.png'></div>
<% } -%>
<% for (var i = 4; i < 7; i++) { -%>
    <div class='card hex' id='hex_<%= i %>'><img src='/img/soc/hex_ore.png'></div>
<% } -%>
<% for (var i = 7; i < 11; i++) { -%>
    <div class='card hex' id='hex_<%= i %>'><img src='/img/soc/hex_wheat.png'></div>
<% } -%>
<% for (var i = 11; i < 15; i++) { -%>
    <div class='card hex' id='hex_<%= i %>'><img src='/img/soc/hex_wood.png'></div>
<% } -%>
<% for (var i = 15; i < 19; i++) { -%>
    <div class='card hex' id='hex_<%= i %>'><img src='/img/soc/hex_wool.png'></div>
<% } -%>



<div class='card number' id='n_21'><span class="numberText">2</span></div>
<div class='card number' id='n_31'><span class="numberText">3</span></div>
<div class='card number' id='n_32'><span class="numberText">3</span></div>
<div class='card number' id='n_41'><span class="numberText">4</span></div>
<div class='card number' id='n_42'><span class="numberText">4</span></div>
<div class='card number' id='n_51'><span class="numberText">5</span></div>
<div class='card number' id='n_52'><span class="numberText">5</span></div>
<div class='card number' id='n_61'><span class="numberText">6</span></div>
<div class='card number' id='n_62'><span class="numberText">6</span></div>
<div class='card number' id='n_81'><span class="numberText">8</span></div>
<div class='card number' id='n_82'><span class="numberText">8</span></div>
<div class='card number' id='n_91'><span class="numberText">9</span></div>
<div class='card number' id='n_92'><span class="numberText">9</span></div>
<div class='card number' id='n_101'><span class="numberText">10</span></div>
<div class='card number' id='n_102'><span class="numberText">10</span></div>
<div class='card number' id='n_111'><span class="numberText">11</span></div>
<div class='card number' id='n_112'><span class="numberText">11</span></div>
<div class='card number' id='n_121'><span class="numberText">12</span></div>

<div class='card robber' id='robber0'><img src='/img/soc/robber.png'></div>

<% for (var i = 0; i < 9; i++) { var img=i; if(i < 4){img=0} -%>
    <div class="card harbour" id="harbour<%= i %>"><img src='/img/soc/harbour<%= img %>.svg'></div>
<% } -%>

<%- include ('../../common/dice', {id: "dice1", width: 100}); -%>
<%- include ('../../common/dice', {id: "dice2", width: 100}); -%>

<% for (var p = 0; p < 4; p++) { -%>
    <% for (var i = 0; i < 5; i++) { -%>
        <div class='card pieceFor_<%= p %> settlement' id='settlement_<%= p %>_<%= i %>' style="display: none;"><img class="pieceImg" src='/img/soc/house.svg'></div>
    <% } -%>

    <% for (var i = 0; i < 4; i++) { -%>
        <div class='card pieceFor_<%= p %> city' id='city_<%= p %>_<%= i %>' style="display: none;"><img class="pieceImg" src='/img/soc/city.svg'></div>
    <% } -%>

    <% for (var i = 0; i < 15; i++) { -%>
        <div class='card pieceFor_<%= p %> road' id='road_<%= p %>_<%= i %>' style="display: none;"><img class="pieceImg" src='/img/soc/road.svg'></div>
    <% } -%>
<% } -%>

<div class='card deck resourceDeck' id='woolDeck'><button type="button" class="btn btn-primary btn-lg shuffleButton" style="width: 78px;" value='0'>Sheep</button></div>
<div class='card deck resourceDeck' id='brickDeck'><button type="button" class="btn btn-primary btn-lg shuffleButton" style="width: 78px;" value='0'>Brick</button></div>
<div class='card deck resourceDeck' id='woodDeck'><button type="button" class="btn btn-primary btn-lg shuffleButton" style="width: 78px;" value='0'>Wood</button></div>
<div class='card deck resourceDeck' id='wheatDeck'><button type="button" class="btn btn-primary btn-lg shuffleButton" style="width: 78px;" value='0'>Wheat</button></div>
<div class='card deck resourceDeck' id='oreDeck'><button type="button" class="btn btn-primary btn-lg shuffleButton" style="width: 78px;" value='0'>Ore</button></div>

<div class='card deck developmentDeck' id='developmentDeck0'><button type="button" class="btn btn-primary btn-lg shuffleButton" style="width: 132px;" value='0'>Development</button><div id='closedbox0'></div></div>

<% for (var i = 0; i < 95;  i++ ) { %>
	<div class='card resource' id='resource_<%= i %>'></div>
<% } %>
<% for (var i = 0; i < 25;  i++ ) { %>
	<div class='card development' id='development_<%= i %>'></div>
<% } %>

<%- include ('./building_costs'); -%>
<%- include ('./victory_cards'); -%>
<%- include ('./development_cards'); -%>