<html>
  <head>
    <%- include ("../partials/head") %>
  </head>
  <body>
    <%- include ('../../common/welcomeModal'); -%>
    <%- include ('../../common/resetWebcamModal'); -%>
    <%- include ('../../common/resetModal'); -%>
    <div class="scaleplane">
      <%- include ('../partials/webcams'); -%>
      <%- include ('../partials/decks') %>
      <%- include ('../../common/cursors'); -%>
    </div>
  </body>
</html>