<html>
	<head>
		<%- include ("../partials/head") %>
	</head>
	<body>
		<%- include ('../../common/welcomeModal'); -%>
		<%- include ('../../common/resetModal'); -%>
		<div class="scaleplane">
			<%- include ('../partials/map'); -%>
			<%- include ('../../common/webcams', {webcamPos: webcamPos, fixedPlayers: fixedPlayers}) -%>
			<%- include ('../partials/mrx-board'); -%>
			<%- include ("../partials/decks") -%>
			<%- include ("../partials/tickets") -%>
			<%- include ('../partials/pions'); -%>
			<%- include ("../../common/cursors") -%>
		</div>
	</body>
</html>