<% for (var y = 0; y < 10; y++) { -%>
  <% for (var x = 0; x < 10; x++) { -%>
    <% if ((x == 4 || x == 5) && (y == 2 || y == 3 || y == 6 || y == 7)) { -%>
    <% } else { -%>
        <div class='touchbox' id="touchbox_0_<%= y%>_<%= x%>" style="position: absolute; left: <%= 420 + (x * 108) + 9%>px; top: <%= 0 + (y * 108) + 9 %>px; display: block;"></div>
    <% } -%>
  <% } -%>
<% } -%>

<% for (var y = 0; y < 8; y++) { -%>
  <% for (var x = 0; x < 5; x++) { -%>
    <div class='touchbox' id="touchbox_1_<%= y%>_<%= x%>" style="position: absolute; left: <%= 0 + (x * 84) + 0%>px; top: <%= 400 + (y * 84) + 0 %>px; display: block;"></div>
  <% } -%>
<% } -%>

<% for (var y = 0; y < 8; y++) { -%>
  <% for (var x = 0; x < 5; x++) { -%>
    <div class='touchbox' id="touchbox_2_<%= y%>_<%= x%>" style="position: absolute; left: <%= 1500 + (x * 84) + 0%>px; top: <%= 0 + (y * 84) + 0 %>px; display: block;"></div>
  <% } -%>
<% } -%>