<html>
  <head>
    <%- include ("../partials/head") %>
  </head>
  <body>
    <%- include ('../../common/welcomeModal'); -%>
    <%- include ('../../common/resetWebcamModal'); -%>
    <%- include ('../../common/resetModal'); -%>
    
    <div class="scaleplane">
      <button id="startGameBtn">Start Game</button>
      <%- include ("../partials/drawplane") %>
      <%- include ("../partials/guessplane") %>
      <%- include ("../partials/playerboxes") %>
      <%- include ('../../common/webcams', {webcamPos: webcamPos, fixedPlayers:fixedPlayers}) -%>
      <%  var scoreboxValues = [1];
        for (var i = 0; i < fixedPlayers; i++) { 
          var id = i; -%>
          <%- include('../../common/scorebox', {scoreboxId: id, scoreboxValues: scoreboxValues}); %>
      <%  } -%>
      <%- include ("../../common/cursors") -%>
    </div>
  </body>
</html>