<div class='card dice' id="<%= id %>" style="width: <%= width; %>; height: <%= width; %>; transform: translateZ(<%= (width); %>px)">
  <div class='threeDcontainer' style="transform-origin: <%= width / 2; %>px <%= width / 2; %>px;">
    <div class='diceFace' style='width: <%= width; %>; height: <%= width; %>; transform: translateZ(<%= (width / 2); %>px)'>
      <span class='diceDot' style="width: <%= (width * 0.15)%>px; height: <%= (width * 0.15)%>px; border-radius: <%= ((width * 0.15) / 2)%>px; top: <%= (width * 0.425); %>; left: <%= (width * 0.425); %>"></span>
    </div>
    <div class='diceFace' style='width: <%= width; %>; height: <%= width; %>; transform: rotateY(180deg) translateZ(<%= (width / 2); %>px)'>
      <!-- <span class='diceDot' style="width: <%= (width * 0.15)%>px; height: <%= (width * 0.15)%>px; border-radius: <%= ((width * 0.15) / 2)%>px; top: <%= (width * 0.425); %>; left: <%= (width * 0.425); %>"></span> -->
      <span class='diceDot' style="width: <%= (width * 0.15)%>px; height: <%= (width * 0.15)%>px; border-radius: <%= ((width * 0.15) / 2)%>px; top: <%= (width * 0.225); %>; left: <%= (width * 0.225); %>"></span>
      <span class='diceDot' style="width: <%= (width * 0.15)%>px; height: <%= (width * 0.15)%>px; border-radius: <%= ((width * 0.15) / 2)%>px; top: <%= (width * 0.225); %>; left: <%= (width * 0.425); %>"></span>
      <span class='diceDot' style="width: <%= (width * 0.15)%>px; height: <%= (width * 0.15)%>px; border-radius: <%= ((width * 0.15) / 2)%>px; top: <%= (width * 0.225); %>; left: <%= (width * 0.625); %>"></span>
      <span class='diceDot' style="width: <%= (width * 0.15)%>px; height: <%= (width * 0.15)%>px; border-radius: <%= ((width * 0.15) / 2)%>px; top: <%= (width * 0.625); %>; left: <%= (width * 0.225); %>"></span>
      <span class='diceDot' style="width: <%= (width * 0.15)%>px; height: <%= (width * 0.15)%>px; border-radius: <%= ((width * 0.15) / 2)%>px; top: <%= (width * 0.625); %>; left: <%= (width * 0.425); %>"></span>
      <span class='diceDot' style="width: <%= (width * 0.15)%>px; height: <%= (width * 0.15)%>px; border-radius: <%= ((width * 0.15) / 2)%>px; top: <%= (width * 0.625); %>; left: <%= (width * 0.625); %>"></span>
    </div>
    <div class='diceFace' style='width: <%= width; %>; height: <%= width; %>; transform: rotateY(90deg) translateZ(<%= (width / 2); %>px)'>
      <!-- <span class='diceDot' style="width: <%= (width * 0.15)%>px; height: <%= (width * 0.15)%>px; border-radius: <%= ((width * 0.15) / 2)%>px; top: <%= (width * 0.425); %>; left: <%= (width * 0.425); %>"></span> -->
      <span class='diceDot' style="width: <%= (width * 0.15)%>px; height: <%= (width * 0.15)%>px; border-radius: <%= ((width * 0.15) / 2)%>px; top: <%= (width * 0.225); %>; left: <%= (width * 0.225); %>"></span>
      <span class='diceDot' style="width: <%= (width * 0.15)%>px; height: <%= (width * 0.15)%>px; border-radius: <%= ((width * 0.15) / 2)%>px; top: <%= (width * 0.625); %>; left: <%= (width * 0.625); %>"></span>
    </div>
    <div class='diceFace' style='width: <%= width; %>; height: <%= width; %>; transform: rotateY(-90deg) translateZ(<%= (width / 2); %>px)'>
      <!-- <span class='diceDot' style="width: <%= (width * 0.15)%>px; height: <%= (width * 0.15)%>px; border-radius: <%= ((width * 0.15) / 2)%>px; top: <%= (width * 0.425); %>; left: <%= (width * 0.425); %>"></span> -->
      <span class='diceDot' style="width: <%= (width * 0.15)%>px; height: <%= (width * 0.15)%>px; border-radius: <%= ((width * 0.15) / 2)%>px; top: <%= (width * 0.225); %>; left: <%= (width * 0.225); %>"></span>
      <span class='diceDot' style="width: <%= (width * 0.15)%>px; height: <%= (width * 0.15)%>px; border-radius: <%= ((width * 0.15) / 2)%>px; top: <%= (width * 0.225); %>; left: <%= (width * 0.625); %>"></span>
      <span class='diceDot' style="width: <%= (width * 0.15)%>px; height: <%= (width * 0.15)%>px; border-radius: <%= ((width * 0.15) / 2)%>px; top: <%= (width * 0.425); %>; left: <%= (width * 0.425); %>"></span>
      <span class='diceDot' style="width: <%= (width * 0.15)%>px; height: <%= (width * 0.15)%>px; border-radius: <%= ((width * 0.15) / 2)%>px; top: <%= (width * 0.625); %>; left: <%= (width * 0.225); %>"></span>
      <span class='diceDot' style="width: <%= (width * 0.15)%>px; height: <%= (width * 0.15)%>px; border-radius: <%= ((width * 0.15) / 2)%>px; top: <%= (width * 0.625); %>; left: <%= (width * 0.625); %>"></span>
    </div>
    <div class='diceFace' style='width: <%= width; %>; height: <%= width; %>; transform: rotateX(-90deg) translateZ(<%= (width / 2); %>px)'>
      <!-- <span class='diceDot' style="width: <%= (width * 0.15)%>px; height: <%= (width * 0.15)%>px; border-radius: <%= ((width * 0.15) / 2)%>px; top: <%= (width * 0.425); %>; left: <%= (width * 0.425); %>"></span> -->
      <span class='diceDot' style="width: <%= (width * 0.15)%>px; height: <%= (width * 0.15)%>px; border-radius: <%= ((width * 0.15) / 2)%>px; top: <%= (width * 0.225); %>; left: <%= (width * 0.225); %>"></span>
      <span class='diceDot' style="width: <%= (width * 0.15)%>px; height: <%= (width * 0.15)%>px; border-radius: <%= ((width * 0.15) / 2)%>px; top: <%= (width * 0.425); %>; left: <%= (width * 0.425); %>"></span>
      <span class='diceDot' style="width: <%= (width * 0.15)%>px; height: <%= (width * 0.15)%>px; border-radius: <%= ((width * 0.15) / 2)%>px; top: <%= (width * 0.625); %>; left: <%= (width * 0.625); %>"></span>
    </div>
    <div class='diceFace' style='width: <%= width; %>; height: <%= width; %>; transform: rotateX(90deg) translateZ(<%= (width / 2); %>px)'>
      <!-- <span class='diceDot' style="width: <%= (width * 0.15)%>px; height: <%= (width * 0.15)%>px; border-radius: <%= ((width * 0.15) / 2)%>px; top: <%= (width * 0.425); %>; left: <%= (width * 0.425); %>"></span> -->
      <span class='diceDot' style="width: <%= (width * 0.15)%>px; height: <%= (width * 0.15)%>px; border-radius: <%= ((width * 0.15) / 2)%>px; top: <%= (width * 0.225); %>; left: <%= (width * 0.225); %>"></span>
      <span class='diceDot' style="width: <%= (width * 0.15)%>px; height: <%= (width * 0.15)%>px; border-radius: <%= ((width * 0.15) / 2)%>px; top: <%= (width * 0.225); %>; left: <%= (width * 0.625); %>"></span>
      <span class='diceDot' style="width: <%= (width * 0.15)%>px; height: <%= (width * 0.15)%>px; border-radius: <%= ((width * 0.15) / 2)%>px; top: <%= (width * 0.625); %>; left: <%= (width * 0.225); %>"></span>
      <span class='diceDot' style="width: <%= (width * 0.15)%>px; height: <%= (width * 0.15)%>px; border-radius: <%= ((width * 0.15) / 2)%>px; top: <%= (width * 0.625); %>; left: <%= (width * 0.625); %>"></span>
    </div>
  </div>
</div>