<div class="scorebox" id="scorebox<%= scoreboxId %>" style="background-color: #000000; padding: 5px; position: absolute; z-index: 3; border-radius: 5px; display: none;" value="<%= scoreboxId %>">
    <button type="button" class="btn btn-danger scoreboxButton" id="scorebox<%= scoreboxId %>_min_1" value="-1" style="font-size: 18px;">-1</button>
    <div class="scoreboxText" id="scorebox<%= scoreboxId%>_text" style="position: relative; top: 5px; text-align: center; padding: 5px; font-weight: bold; font-size: 25px; padding: 3px; border-radius: 3px; background-color: #000000; color: #FF0000; display: inline-block;">0</div>
    <button type="button" class="btn btn-success scoreboxButton" id="scorebox<%= scoreboxId %>_plus_1" value="+1" style="font-size: 18px;">+1</button>
</div>