<div class='card' id="<%= id %>">
    <div class='threeDcontainer'>
        <div class='cardFace <%= cardFaceClass %>' id="<%= id%>FF" style='transform:rotateY(180deg)'>
            <span id="<%= id%>_textFF" class='<%= textClass %>'></span><span class="<%= secTextClass %>" id="<%= id%>_secFF"></span>
        </div>
        <div class='cardFace <%= cardFaceClass %>' id="<%= id%>BF">
            <span id="<%= id%>_textBF" class='<%= textClass %>'></span><span class="<%= secTextClass %>" id="<%= id%>_secBF"></span>
        </div>
    </div>
</div>