<% for (var i =0; i <2;  i++ ) { %>
	<div class='card ticket' id='2x<%= i %>'><img src='/img/sy/2x.svg'/></div>
<% } %>
<% for (var i =0; i <5;  i++ ) { %>
	<div class='card ticket' id='black-ticket<%= i %>'><img src='/img/sy/black-ticket.svg'/></div>
<% } %>
<% for (var i =0; i <66;  i++ ) { %>
	<div class='card ticket' id='taxi<%= i %>'><img src='/img/sy/taxi.svg'/></div>
<% } %>
<% for (var i =0; i <48;  i++ ) { %>
	<div class='card ticket' id='bus<%= i %>'><img src='/img/sy/bus.svg'/></div>
<% } %>
<% for (var i =0; i <24;  i++ ) { %>
	<div class='card ticket' id='metro<%= i %>'><img src='/img/sy/metro.svg'/></div>
<% } %>