<html>
  <head>
    <%- include ("../partials/head") %>
  </head>
  <body>
    <%- include ('../partials/welcomeModal'); -%>
    <%- include ('../partials/resetModal'); -%>
    <div class="scaleplane">
      <%- include ('../partials/playerboxes', {playerboxStartPos: playerboxStartPos}); -%>
      <%- include ('../partials/webcams', {webcamPos: webcamPos}); -%>
      <%- include ('../partials/decks') %>
      <%- include ('../partials/cursors'); -%>
    </div>
  </body>
</html>