<%  var id = 0; for (var i in board) { if (board[i].type == 'station'){-%>
    <div class="propertyCard card" id="station<%= id; %>">
        <div class="header" style="background-color: #FFFFFF; text-align: center; border-radius:5px;padding:5px; display:inline-block; width:100%;">
            <span style="display: inline-block; font-size: 12px; font-weight: lighter;">EIGENDOMSBEWIJS</span><br>
            <span><%= board[i].stationName; %></span><br>
        </div><br>
        <table class='propertyTable'>
            <tr style="border-top: 3px solid black;"><td colspan=4>HUUR</td><td style="text-align: right;">ƒ <%= board[i].rent[0]; %>,--</td></tr>
            <tr><td>2</td><td>STATIONS</td><td>IN</td><td>BEZIT</td><td style="text-align: right;">ƒ <%= board[i].rent[1]; %>,--</td></tr>
            <tr><td>3</td><td>„</td><td>„</td><td>„</td><td style="text-align: right;">ƒ <%= board[i].rent[2]; %>,--</td></tr>
            <tr><td>4</td><td>„</td><td>„</td><td>„</td><td style="text-align: right;">ƒ <%= board[i].rent[3]; %>,--</td></tr>
            <tr><td colspan=5 style="white-space: pre-wrap;"> </td></tr>
            <tr><td colspan=4>Hypotheekwaarde</td><td style="text-align: right;">ƒ <%= board[i].mortgageValue; %>,--</td></tr>
        </table>
    </div>
<%  id++;}} -%>