<html>
	<head>
		<%- include ("../partials/head") %>
	</head>
	<body>
		<%- include ('../../common/resetModal'); -%>
		<div class="scaleplane">
			<%  var i = 0;
				for (game in gameInfo) { -%>
				<div class="gamecard moveable" id='gamecard<%= i %>'>
					<a href='<%= game %>'><img src='/img/<%= gameInfo[game]["lobbyIcon"] %>'/></a>
					<span class="nOfPlayersText"><%= gameInfo[game]["nOfPlayers"] %></span>
				</div>
				<div class="card moveBtn" id="gamecardMoveBtn<%= i %>"><img src="/img/lobby/move.png"/></div>
			<%  i++;} -%>
			<%- include ('../../common/webcams', {fixedPlayers:fixedPlayers}); -%>
			<%- include ('../../common/cursors'); -%>
		</div>
	</body>
</html>