<html>
	<head>
		<%- include ("../partials/head") %>
	</head>
	<body>
		<%- include ('../../common/resetModal'); -%>
		<div class="scaleplane">
			<%- include ('../partials/games'); -%>
			<%- include ('../../common/webcams', {fixedPlayers:fixedPlayers}); -%>
			<%- include ('../../common/cursors'); -%>
		</div>
	</body>
</html>