<html>
	<head>
		<%- include ("../partials/head") %>
	</head>
	<body>
		<%- include ('../partials/resetModal'); -%>
		<div class="scaleplane">
			<%- include ('../partials/games'); -%>
			<%- include ('../partials/webcams'); -%>
			<%- include ('../partials/cursors'); -%>
		</div>
	</body>
</html>