<html>
  <head>
    <%- include ("../partials/head") %>
  </head>
  <body>
    <%- include ('../../common/welcomeModal'); -%>
    <%- include ('../../common/resetWebcamModal'); -%>
    <%- include ('../../common/resetModal'); -%>
    <div class="scaleplane">
      <div style="position: absolute; top: 1080px; left: 0px; z-index: -100; opacity: 0; height: 170px;"></div>
      <img style="position: absolute; top: 0px; left:0px;" src="/img/crp/boxes.png"></img>
      <%- include ('../partials/playerboxes', {playerboxStartPos: playerboxStartPos}); -%>
      <%- include ('../../common/webcams', {webcamPos: webcamPos, fixedPlayers:fixedPlayers}); -%>
      <%- include ('../partials/decks') %>
      <%- include ('../../common/cursors'); -%>
    </div>
  </body>
</html>