<html>
  <head>
    <%- include ("../partials/head") %>
  </head>
  <body>
    <%- include ('../../common/resetModal'); -%>
    <div class="scaleplane">
      <%- include ('../partials/webcams'); -%>
      <%- include ('../partials/decks', {nBlackCards: nBlackCards, nWhiteCards: nWhiteCards}) %>
      <%- include ('../../common/cursors'); -%>
    </div>
  </body>
</html>