<html>
  <head>
    <%- include ("../partials/head") %>
  </head>
  <body>
    <%- include ('../partials/resetModal'); -%>
    <div class="scaleplane">
      <%- include ('../partials/webcams'); -%>
      <%- include ('../partials/decks') %>
      <%- include ('../partials/cursors'); -%>
    </div>
  </body>
</html>